body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007BFF;
  color: white;
  padding: 1em;
  text-align: center;
}

.sidebar {
  width: 200px;
  background-color: #f8f9fa;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content {
  margin-left: 220px;
  padding: 1em;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 1em 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #007BFF;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
  width: 100%;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  border: 1px solid #dddddd;
  /* Horizontal and vertical bars */
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
}

.toggle-target {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.toggle-target[style*="display: block;"] {
  max-height: 500px;
  /* Adjust as needed */
  opacity: 1;
}

.toggle-target[style*="display: none;"] {
  max-height: 0;
  opacity: 0;
}
