{% extends "dashboard/base.html" %}
{% block content %}
    {% block title %}Edit Equipment{% endblock %}
    <div class="content">
        <h1>Edit Equipment: {{ equipment.name }}</h1>
        <form method="post">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text"
                   id="name"
                   name="name"
                   value="{{ equipment.name }}"
                   required>
            <br>
            <label for="site">Site:</label>
            <select id="site" name="site" required>
                <option value="" disabled>Select Site</option>
                {% for site in sites %}
                    <option value="{{ site.id }}"
                            {% if equipment.site.id == site.id %}selected{% endif %}>{{ site.name }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="type">Type:</label>
            <select id="type" name="type" required>
                {% for type in equipment_types %}
                    <option value="{{ type.id }}"
                            {% if equipment.type.id == type.id %}selected{% endif %}>{{ type.name }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="last_change_ticket">Last Change Ticket (Optional):</label>
            <input type="number"
                   id="last_change_ticket"
                   name="last_change_ticket"
                   value="{{ equipment.last_change_ticket|default_if_none:'' }}">
            <br>
            <label for="first_level_support_team">1L Support Team:</label>
            <select id="first_level_support_team"
                    name="first_level_support_team"
                    required>
                {% for team in teams %}
                    <option value="{{ team.id }}"
                            {% if equipment.first_level_support_team.id == team.id %}selected{% endif %}>
                        {{ team.name }}
                    </option>
                {% endfor %}
            </select>
            <br>
            <label for="second_level_support_team">2L Support Team:</label>
            <select id="second_level_support_team"
                    name="second_level_support_team"
                    required>
                {% for team in teams %}
                    <option value="{{ team.id }}"
                            {% if equipment.second_level_support_team.id == team.id %}selected{% endif %}>
                        {{ team.name }}
                    </option>
                {% endfor %}
            </select>
            <br>
            <label for="additional_info">Additional Info:</label>
            <textarea id="additional_info" name="additional_info">{{ equipment.additional_info }}</textarea>
            <br>
            <button type="submit">Save Changes</button>
        </form>
        <a href="{% url 'equipment_list' %}">Back to List</a>
    </div>
{% endblock %}
