<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Dashboard{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
        <script src="{% static 'dashboard/js/toggle.js' %}"></script>
    </head>
    <body>
        <header>
            <h1>Dashboard Header</h1>
            {% if user %}
                <p>Welcome, {{ user.username }}!</p>
            {% else %}
                <p>Welcome, Guest!</p>
            {% endif %}
            <nav>
                <a href="{% url 'team_list' %}">Teams</a>
                <a href="{% url 'dashboard' %}">Home</a>
                {% if user %}
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <form action="{% url 'login' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Login</button>
                    </form>
                {% endif %}
            </nav>
        </header>
        <aside>
            <div class="sidebar">
                <h2>Sidebar</h2>
                <ul>
                    <li>
                        <a href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    {% if user %}
                        <li>
                            <a href="{% url 'equipment_list' %}">Equipment list</a>
                        </li>
                        <li>
                            <a href="{% url 'ticket_list' %}">Ticket list</a>
                        </li>
                        <li>
                            <a href="{% url 'my_teams_tickets' %}">Team tickets list</a>
                        </li>
                        {% if user.admin %}
                            <li>
                                <a href="{% url 'team_list' %}">Manage Teams</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div class="sidebar">
        </aside>
        <main>
            {% block content %}<!-- Main content will go here -->{% endblock %}
        </main>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            {% for message in messages %}alert("{{ message|escapejs }}");{% endfor %}
        });
    </script>
</html>
